.card {
    font-family: arial;
    font-size: 20px;
    text-align: left;
    color: #131516;
    background-color: #F2F3F4;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* IRX STYLES */

/* //div.irx-title  {
//    position: relative;
//    left: 0;
//    top: -15px; 
//} */

div.irx-title {
    height:50px;
    width:100%;
    position:fixed;
    top:-15px;
    background-color: #F2F3F4;
}

div.irx-grad {
    height:100px;
    width:100%;
    position:fixed;
    top:35px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(242, 243, 244, 0)), color-stop(95%,rgba(242, 243, 244,1)));
    background: -webkit-linear-gradient(to bottom,  rgba(242, 243, 244, 0) 0%, rgba(242, 243, 244,1) 90%);
    background: linear-gradient(to bottom,  rgba(242, 243, 244, 0) 0%,rgba(242, 243, 244,1) 90%);
}

div.irx-footer {
    width:100%;
    height: 20px;
    position: fixed;
    left: 0;
    bottom: 0; 
    background-color: white;
}

div.irx-footer div[id^='irx-hud'] {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    float: left;
    height:100%;
    width: 25%;
    -webkit-user-select: none;
    user-select: none;
}

div.irx-footer div[id^='irx-hud']:hover {
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

div.irx-footer div[id^='irx-hud'][irx-toggle~="off"]:hover {
    background-color: #96CEB4 !important;
}
div.irx-footer div[id^='irx-hud'][irx-toggle~="on"]:hover {
    background-color: #FFAD9F !important;
}

div.irx-footer div[id^='irx-hud'][irx-toggle~="off"] {
    opacity: .5;
}

div#irx-hud-styles {
    background-color: #1F8A70;
}
div#irx-hud-extracts {
    background-color: #BEDB39;
}
div#irx-hud-removed {
    background-color: #FFE11A;
}
div#irx-hud-images {
    background-color: #FD7400;
}

[irx-images-sidebar~="no"].irx-images,
.irx-removed-novis {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

[irx-images-sidebar~="no"].irx-text {
    width: 100%
}

a[href^="irxnid"] {
    text-decoration: none;
    color: inherit;
}

div.irx-content {
    margin-top: 100px;
}

.irx-row:after {
    content: "";
    display: table;
    clear: both;
}

.irx-text {
    float: left;
    width: 70%;
}

.irx-images {
    position: fixed;
    right: 2.5%;
    float: left;
    overflow-y: auto;
    height: 90%;
    max-width: 25%;
    font-size: 14px;
    margin-top: -65px
}

.irx-images img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}

.irx-images img:hover {
    box-shadow: 13px 32px 36px -14px hsla(0, 0%, 70%, 0.1);
    position: relative;
    top: -2px;
    cursor: pointer;
    -webkit-transition: all .1s ease-in;
    duration: all .1s ease-in;
}

.irx-images div {
    text-align: center;
}

.irx-info {
    font-size: 16px;
    font-style: italic;
    background-color: lavenderblush;
    color: deeppink
}

div.irx-removed-vis {
    display: inline;
}
.irx-removed-vis {
    background-color: grey;
}
img.irx-removed-vis, 
.irx-removed-vis img {
    width: 30%; 
    border: 5px solid grey;
}
.irx-styled-vis.bold {
    font-weight: bold;
}
.irx-styled-vis.italic {
    font-style: italic;
}
.irx-styled-vis.underline {
    text-decoration: underline;
}
.irx-styled-vis.strikeThrough {
    text-decoration: line-through;
}