.card {
    font-family: arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: white;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* IRX STYLES */
[irx-images-sidebar~="no"].irx-images,
.irx-removed-novis {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

[irx-images-sidebar~="no"].irx-text {
    width: 100%
}

a[href^="irxnid"] {
    text-decoration: none;
    color: inherit;
}

.irx-row:after {
    content: "";
    display: table;
    clear: both;
}

.irx-text {
    float: left;
    width: 70%;
}

.irx-images {
    position: fixed;
    right: 2.5%;
    float: left;
    overflow-y: auto;
    height: 85%;
    max-width: 25%;
    font-size: 16px;
}

.irx-images img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.irx-images div {
    text-align: center;
}

.irx-info {
    font-size: 16px;
    font-style: italic;
    background-color: lavenderblush;
    color: deeppink
}

div.irx-removed-vis {
    display: inline;
}
.irx-removed-vis {
    background-color: grey;
}
img.irx-removed-vis, 
.irx-removed-vis img {
    width: 30%; 
    border: 5px solid grey;
}
.irx-styled-vis.bold {
    font-weight: bold;
}
.irx-styled-vis.italic {
    font-style: italic;
}
.irx-styled-vis.underline {
    text-decoration: underline;
}
.irx-styled-vis.strikeThrough {
    text-decoration: line-through;
}