.card {
    font-family: arial;
    font-size: 20px;
    text-align: left;
}



/* IRX STYLES */
.card {
    color: #131516;
    background-color: #F2F3F4;
    -webkit-user-select: none;
    user-select: none;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.irx-title {
    font-size: 22px;
    height:30px;
    width:100%;
    line-height: 35px;
    vertical-align: middle;
    position:fixed;
    top: 0;
    background-color: #F2F3F4;
}

div.irx-grad {
    height:80px;
    width:100%;
    position:fixed; 
    top:30px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(242, 243, 244, 0)), color-stop(95%,rgba(242, 243, 244,1)));
    background: -webkit-linear-gradient(to bottom,  rgba(242, 243, 244, 0) 0%,rgba(242, 243, 244,1) 90%);
    background: linear-gradient(to bottom,  rgba(242, 243, 244, 0) 0%,rgba(242, 243, 244,1) 90%);
}

div.irx-overlay-controls {
    width:100%;
    height: 20px;
    position: fixed;
    left: 0;
    bottom: 0; 
    background-color: white;
}

div.irx-overlay-controls div[id^='irx-hud'] {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    float: left;
    height:100%;
    width: 25%;
}

div.irx-overlay-controls div[id^='irx-hud'] img {
    position: relative;
    top: 1px;
    height: 85%;
    -webkit-transition: all .1s;
    transition: all .1s;
}

div.irx-overlay-controls div[id^='irx-hud']:hover {
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

div.irx-overlay-controls div[id^='irx-hud']:hover > img{
    height: 0%;
}
div.irx-overlay-controls div[id^='irx-hud']:hover::before {
    content: attr(irx-desc);
}

div.irx-overlay-controls div[id^='irx-hud'][irx-toggle~="off"] {
    opacity: .5;
    background-color: #B8B8B8 !important;
}

div#irx-hud-styles {
    background-color: #1F8A70;
}
div#irx-hud-extracts {
    background-color: #BEDB39;
}
div#irx-hud-removed {
    background-color: #FFE11A;
}
div#irx-hud-images {
    background-color: #FD7400;
}

[irx-images-sidebar~="no"].irx-images,
.irx-removed-novis {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

[irx-images-sidebar~="no"].irx-text {
    width: 100%
}

a[href^="irxnid"] {
    text-decoration: none;
    color: inherit;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

div.irx-content {
    margin-top: 80px;
    -webkit-user-select: none;
    user-select: none;
}

.irx-row:after {
    content: "";
    display: table;
    clear: both;
}

.irx-text {
    float: left;
    width: 70%;
    -webkit-user-select: auto !important;
    user-select: auto !important;
}

.irx-images {
    position: fixed;
    right: 2.5%;
    float: left;
    overflow-y: auto;
    height: 90%;
    max-width: 25%;
    font-size: 14px;
    margin-top: -65px;
    overflow-x: hidden;
}

.irx-images img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}

.irx-images img:not([src^="_irx_img_fallback"]) {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,.1);
}

.irx-images img:not([src^="_irx_img_fallback"]):hover {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,.1);
    cursor: pointer;
    -webkit-transform: scale(1.01,1.01);
    transform: scale(1.01,1.01);
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.irx-images div {
    text-align: center;
}

.irx-info {
    font-size: 16px;
    font-style: italic;
    background-color: lavenderblush;
    color: deeppink;
}

div.irx-removed-vis {
    display: inline;
}
.irx-removed-vis {
    background-color: grey;
}
img.irx-removed-vis, 
.irx-removed-vis img {
    width: 30%; 
    border: 5px solid grey;
}
.irx-styled-vis.bold {
    font-weight: bold;
}
.irx-styled-vis.italic {
    font-style: italic;
}
.irx-styled-vis.underline {
    text-decoration: underline;
}
.irx-styled-vis.strikeThrough {
    text-decoration: line-through;
}